@page "/addcards"

@using MagicArchiver.Pages.Services
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager Navigation
@inject IGlobalState      GlobalState

@attribute [Authorize]


<h1>
    Add Cards
</h1>


@code {
    protected override void OnInitialized() {
        // Navigates the user to the login screen if they aren't authenticated
        if (GlobalState.GetToken() == null) {
            Navigation.NavigateTo("login");
        }
    }
}


