@page "/collection"

@using MagicArchiver.Services

@inject NavigationManager Navigation
@inject IGlobalState      GlobalState


<h1>
  Collection
</h1>


@code {
  protected override void OnInitialized() {
    // Navigates the user to the login screen if they aren't authenticated
    if (GlobalState.GetToken() == null) {
      Navigation.NavigateTo("login");
    }
  }
}
