@page "/collection"

@using MagicArchiver.Services

@inject NavigationManager Navigation
@inject IGlobalState      GlobalState

<div class="text-center m-5">
  <h1>
    Collection
  </h1>
</div>


@code {
  protected override void OnInitialized() {
    // Navigates the user to the login screen if they aren't authenticated
    if (GlobalState.GetToken() == null) {
      Navigation.NavigateTo("login");
    }
  }
}
